<h2>Rejestracja</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label "Imię" %><br />
      <%= f.text_field :firstname, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label "Nazwisko" %><br />
      <%= f.text_field :lastname, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label "Login" %><br />
      <%= f.text_field :displayname, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label "hasło" %>
      <% if @minimum_password_length %>
        <em>(minimum <%= @minimum_password_length %> znaków)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label "potwierdzenie hasła" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Wyślij", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>