<%= simple_form_for(@user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Wystąpiły następujące błędy</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-8">
      <%= form.label :imię %><br>
      <%= form.text_field :firstname, id: :user_firstname %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8">
      <%= form.label :nazwisko %><br>
      <%= form.text_field :lastname, id: :user_lastname %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8">
      <%= form.label :login %><br>
      <%= form.text_field :displayname, id: :user_displayname %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8">
      <%= form.label :rola %><br>
      <%= form.select :role, options_for_select(['admin', 'client']), id: :user_role %>
    </div>
  </div>

  <div class="actions">
    <%= form.button :submit, "Zapisz" %>
  </div>
<% end %>
