<% if notice %>
  <div class="alert alert-success">
    <div class="notice">
      <%= notice %>
    </div>
  </div>
<% end %>



<div class="jumbotron">
  <h1 class="display-3"> ( <%= @user.displayname %> )</h1>
  <h3><%= @user.firstname %> <%= @user.lastname %></h3>
  <hr class="my-4">
  <h3>Rola: <%= @user.role %> </h3>

</div>



<hr class="my-4">


<%= link_to 'Edytuj', edit_user_path(@user) %> |
<%= link_to 'Powrót', users_path %>
