<%= simple_form_for(beast) do |form| %>
  <% if beast.errors.any? %>
    <div id="error_explanation">
      <h2>Wystąpily następujące błędy</h2>

      <ul>
        <% beast.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :zdjęcie %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :imię %> <br>
    <%= form.text_field :firstname, id: :beast_firstname %>
  </div>

  <div class="field">
    <%= form.label :nazwisko %> <br>
    <%= form.text_field :lastname, id: :beast_lastname %>
  </div>

  <div class="field">
    <%= form.label :pseudo %> <br>
    <%= form.text_field :pseudo, id: :beast_pseudo %>
  </div>

  <div class="field">
    <%= form.label :stopień %> <br>
    <%= form.select :degree, ['mgr', 'dr', 'dr hab.', 'prof.'], id: :beast_degree %>
  </div>

  <div class="field">
    <%= form.label :opis %> <br>
    <%= form.text_area :bio, id: :beast_bio %>
  </div>

  <%= form.label :prowadzone_przedmioty %>
  <%= form.association :subjects, :label => false, :as => :check_boxes %>

  <div class="actions">
    <%= form.button :submit , "Zapisz" %>
  </div>
<% end %>
