<% if current_user.role == "admin" %>
  <%= link_to 'Dodaj nową bestię', new_beast_path, :class => "btn btn-lg btn-primary pull-right" %>
<% end %>

<h1>Spis bestii</h1>

<table class="table">
  <thead>
  <tr>
    <th>Stopień</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Pseudo</th>
    <th>Ocena</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @beasts.each do |beast| %>
    <tr>
      <td><%= beast.degree %></td>
      <td><%= beast.firstname %></td>
      <td><%= beast.lastname %></td>
      <td><%= beast.pseudo %></td>
      <td><%= beast.rating.round(2) %></td>
      <td><%= link_to 'Pokaż', beast, :class => "navigation-link" %></td>
      <% if can? :manage, beast %>
        <td><%= link_to 'Edytuj', edit_beast_path(beast), :class => "navigation-link" %></td>
        <td><%= link_to 'Usuń', beast, method: :delete, data: {confirm: 'Na pewno chcesz usunąć te bestie?'}, :class => "navigation-link" %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
