<p id="notice"><%= notice %></p>

<h1>Beasts</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Pseudo</th>
      <th>Degree</th>
      <th>Rating</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beasts.each do |beast| %>
      <tr>
        <td><%= beast.firstname %></td>
        <td><%= beast.lastname %></td>
        <td><%= beast.pseudo %></td>
        <td><%= beast.degree %></td>
        <td><%= beast.rating %></td>
        <td><%= beast.bio %></td>
        <td><%= link_to 'Show', beast %></td>
        <td><%= link_to 'Edit', edit_beast_path(beast) %></td>
        <td><%= link_to 'Destroy', beast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beast', new_beast_path %>
