<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @beast.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @beast.lastname %>
</p>

<p>
  <strong>Pseudo:</strong>
  <%= @beast.pseudo %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @beast.degree %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @beast.rating %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @beast.bio %>
</p>

<% if @beast.image.attached? %>
  <%= image_tag(@beast.image) %>
<% else %>
  <h3>brak obrazka</h3>
<% end %>


<h1>FORM DO KOMENTAZRY</h1>

<%= simple_form_for([@beast, @beast.comments.new]) do |f| %>
  <%= f.input :message%>
  <%= f.input :rate%>
  <%= f.submit :submit%>
<% end %>

<h1>KOMENTARZE</h1>
<div>
  <%= render partial: "/comment", collection: @beast.comments %>
</div>

<% if current_user.role == "admin" %>
  <%= link_to 'Edit', edit_beast_path(@beast) %> |
<% end %>
<%= link_to 'Back', beasts_path %>
