<% if notice %>
  <div class="alert alert-success">
    <div class="notice">
      <%= notice %>
    </div>
  </div>
<% end %>




<div class="jumbotron">

  <div class="beast-card">
    <% if @beast.image.attached? %>
      <%= image_tag(@beast.image, :class => "beast-photo") %>
    <% else %>
      <h3>brak obrazka</h3>
    <% end %>
    <div class="beast-info">
      <h1 class="display-3 align-content-center"><%= @beast.degree %> <%= @beast.firstname %> <%= @beast.lastname %></h1>
      <h1>( <%= @beast.pseudo %> )</h1>
      <h4>Ocena użytkowników: <%= @beast.rating.round(2) %></h4>
    </div>
  </div>
  <hr class="my-4">
  <h4>Przedmioty</h4>
  <% @beast.subjects.each do |s| %>
    <p class="badge badge-secondary">
      <%= link_to s.name, '/subjects/'+s.id.to_s %>
    </p>
  <% end %>
  <hr class="my-4">
  <p> <%= @beast.bio %> </p>
</div>



<h2 class="display-3">Opinie</h2>
<h4 class="display-5"> Dodaj swoją opinię </h4>
<%= simple_form_for([@beast, @beast.comments.new]) do |f| %>

  <div class="row">
    <div class="form-group col-md-1">
      <%= f.label :ocena %><br/>
      <%= f.number_field :rate, autofocus: true, class: "form-control", in: 1.0..10.0 %>
    </div>

    <div class="form-group col-md-11">
      <%= f.label :Opinia %><br/>
      <%= f.text_field :message, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Dodaj" %>
  </div>
<% end %>
<div>
  <%= render partial: "/comment", collection: @beast.comments.reverse %>
</div>

<hr class="my-4">

<div class="center">
<% if current_user.role == "admin" %>
  <%= link_to 'Edytuj', edit_beast_path(@beast) %> |
<% end %>
<%= link_to 'Powrót', beasts_path %>
</div>