<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @beast.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @beast.lastname %>
</p>

<p>
  <strong>Pseudo:</strong>
  <%= @beast.pseudo %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @beast.degree %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @beast.rating %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @beast.bio %>
</p>

<% if @beast.image.attached? %>
  <%= image_tag(@beast.image) %>
<% else %>
  <h3>brak obrazka</h3>
<% end %>


<%= link_to 'Edit', edit_beast_path(@beast) %> |
<%= link_to 'Back', beasts_path %>
