<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Ects:</strong>
  <%= @subject.ects %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @subject.rating %>
</p>


<h1>FORM DO KOMENTAZRY</h1>

<%= simple_form_for([@subject, @subject.comments.new]) do |f| %>
  <%= f.input :message%>
  <%= f.input :rate%>
  <%= f.submit :submit%>
<% end %>


<h1>KOMENTARZE</h1>
<div>
  <%= render partial: "comment", collection: @subject.comments %>
</div>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
