<% if comment.id %>
  <div class="list-group-item custom-padding list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> <%= comment.rate %></h5>
      <small class="text-muted">  <%= comment.user.displayname %></small>
    </div>
    <p class="mb-1"><%= comment.message %></p>

    <% if can? :manage, comment %>
      <p class="pull-right comment-links">
        <%= link_to 'Edytuj', edit_comment_path(comment) %>
        <%= link_to 'Usuń', comment, method: :delete, data: {confirm: 'Na pewno chcesz usunąć ten komentarz?'} %>
      </p>
    <% end %>
  </div>

<% end %>