<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bestiariusz</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to (fa_icon "paw", text: 'Bestie'), beasts_path %>
        </li>
        <li>
          <%= link_to (fa_icon "book", text: 'Przedmioty'), subjects_path %>
        </li>
        <li>
          <%= link_to (fa_icon "sliders", text: 'Ustawienia'), beasts_path %>
        </li>

        <% if user_signed_in? %>
          <li><%= link_to "Edit profile", edit_user_registration_path %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>