<!DOCTYPE html>
<html>
<head>
  <title>Bestiary</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', 'bootstrap.min' %>
</head>

<%= render 'layouts/menu' %>


<div class="container">
  <% if alert %>
    <div class="alert alert-danger notice">
      <p class="alert">
        <%= notice %>
        <%= alert %>
      </p>
    </div>
  <% end %>

  <%= yield %>

</div>
</body>
</html>
